
.profile-item a {
  color: #2f3094 !important;
}

.profile-item .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.profile-item .title {
  color: grey;
  font-size: 18px;
}

.profile-item button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.profile-item a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}


.profile-item button:hover, a:hover {
  opacity: 0.7;
}


